#choose-countries {
	height: initial;
	background: initial;
	padding-right: 12px !important;
}

.subsection {
	margin-left: 12px;
}

.path-input {
	width: 440px;
}

a:link {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: lightblue;
	text-decoration: none;
}

a:active {
	color: lightblue;
	text-decoration: none;
}